<div class="home" summary="home page" id="home" ng-controller="homeCtrl">

  <div class="home-image" style="background-image: url('/assets/images/image.jpeg')">

  </div>

<div class="icon instagram" id="drag">
  <a href="https://www.instagram.com/simmiesims/" target="_blank">iii</a>
</div>


<div class="icon twitter" id="drag">
  <a href="https://twitter.com/simmie_sims" target="_blank">ttt</a>
</div>

<div class="icon soundcloud" id="drag">
  <a href="https://soundcloud.com/simmie_sims" target="_blank">sss</a>
</div>
<div class="icon facebook" id="drag">
  <a href="http://www.facebook.com/OfficialBuddy" target="_blank">fff</a>
</div>
<div class="icon private" id="drag">
  <a href="https://www.facebook.com/superduperbuddy" target="_blank">fpf</a>
</div>





<div class="home-video" id="drag">
  
</div>

</div>
