<div class="home" summary="home page" id="home" ng-controller="homeCtrl" ng-click="playPause()">

  <div class="home-image" style="background-image: url('/assets/images/unspecified.jpeg')">

    <div class="icon music" id="drag">
      <a class="icon-a" href="http://smarturl.it/Buddy-Shine" target="_blank">music</a>
    </div>


    <div class="icon itunes" id="drag">
      <a class="icon-a" href="http://smarturl.it/ShineiTunes" target="_blank">itunes</a>

    </div>

    <div class="icon instagram" id="drag">
      <a class="icon-a" href="https://www.instagram.com/simmiesims/" target="_blank">instagram</a>
    </div>

    <div class="icon youtube" id="drag">
      <a class="icon-a" href="https://www.youtube.com/c/simmiesimsiii" target="_blank">youtube</a>
    </div>


    <div class="icon twitter" id="drag">
      <a class="icon-a" href="https://twitter.com/simmie_sims" target="_blank">twitter</a>
    </div>

    <div class="icon soundcloudicon" id="drag">
      <a class="icon-a" href="https://soundcloud.com/simmiesims" target="_blank">soundcloud</a>
    </div>

    <div class="icon facebook" id="drag">
      <a class="icon-a" href="http://www.facebook.com/OfficialBuddy" target="_blank">facebook</a>
    </div>

    <!-- <div class="icon private" id="drag">
      <a href="https://www.facebook.com/superduperbuddy" target="_blank">private</a>
    </div> -->

  </div>





</div>
